/* Timetable.css */
.page{
  height: 100%;
}
.table {
  
  height: 500px;
  background-color: white;
  width: 100%;
  height: 85%;
}
table{
  /* padding : px; */
  height: 100%;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: calc(100% / 7);
}

.header {
  background-color: #37394F; 
  font-weight: bold;
  color: white;
}

.time-slot {
  background-color: #37394F; 
  font-weight: bold;
  color: white;
}

.break {
  background-color: #37394F;
  color: white;
}

td, th {
  box-sizing: border-box;
}

/* title */
.title{
  height: 90px;
  width: 100%;
  background-color: rgba(188, 196, 199, 0.493);
  margin: 1px;
  margin-bottom: 10px;
  font-size:larger;
  padding: 30px;
}


@media screen and (max-width:650px) {
  .page{
    height: 100%;
    
  }
}

