body{
    background-color: #d6dce9;
}


.title{
    background-color: white;
    padding: 25px;
    margin: 15px;
    
}
.container{
    width: 100%;
    
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 20px;
}