* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* min-width: 200;   */
    max-width: 100vw;
    position: relative;
    overflow: hidden; 
}

.Login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/College3.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(3px);
    z-index: 1;
    }
    
    .Container {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    min-width: 200px;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: hsla(33, 78%, 91%, 0.658);
    display: flex;
    height: auto;
    width: 400px;
    flex-direction: column;
    outline: none;
    padding: 50px;
    margin: 20px;
    z-index: 1; 
}

.input-group {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
    color: hsla(0, 0%, 0%, 0.774);
 
}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 15px;
    background: white; 
    outline: none;
    border: none;
    border-radius: 5px;

}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 0;
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0.774);
    /* background: hsla(33, 78%, 91%, 0.26); */
    
}

.LoginButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  margin-left: 25px;
  width: 80%;
  color: white;
  margin-top: 60px;
  background-color: rgba(63, 63, 190, 0.966);
  border-radius: 5px;
  border: none;
  }
  
  .LoginButton:hover {
    background-color: #395886;
}

.ForgotPass {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: small;
    /* margin-left:100px ; */
    text-decoration: none;
    
}
.Forgot a{
 margin-top: 50px;
}

.account a{
    /* text-decoration: none; */
    color: #000;
    font-weight: bold;

}
.Noacc {
    display: flex;
    margin-top: 20px;
    margin-right: 100;
    font-size: 15px;
    text-decoration: none;
}
 
.Textfield{
    margin-right: 15px;

}

