*{
  text-decoration: none;
}
.container{
  display: flex;
  
}
.sidebar{
  background-color: rgba(188, 196, 199, 0.493);
  height: 100vh;
  transition:width 0.3s ease;
}
.sidebar.expand{
  height: 100vh;
  width: 230px;
}
.sidebar.collapse{
  height: 100vh;
  width: 50px;
}
.top_section{
  display: flex;
  align-items: center ;
  padding: 20px 15px;
}
.user img{
  width: 50px;
  border-radius: 50%;
}
.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 40px;
  margin-left: 60px;
  
}

.user-logo-collapsed img{
  display: flex;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  padding: 65px;
}
.logo-expand{
  display: none;
}
.logo-collapse{
  width: 40px;
}
.menu_icon {
  position: absolute;
  top: 5px;
  left: 1;
  border-radius: 50px;
  }

.menu_icon img{
  width: 30px;
  cursor: pointer;  
}
.menu_icon:hover{
  padding: 3px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: rgba(188, 196, 199, 0.493);
  border-radius: calc(50%);
}
.path{
  display: flex;
  align-items: center;
  padding: 13px 15px;
  gap: 25px;
  transition: all 0.5s ease;
  color: black;
  cursor: pointer;
}
.path:hover,.logout:hover {
background-color: cadetblue;
transition: all 0.5;
cursor: pointer;
}
.active{ 
  /* border-bottom:3px solid black; */
  border-right:3px solid black;

}
 .icon{
  display: flex;
  align-items: center;

  font-size: large;

 }
 .link_text{
  font-size: 15px;

 }
 .collapse .user {
  display: none;
}


/* Main content */

.main { 
  flex-grow: 1;
  padding: 15px;
  transition: margin-left 0.3s ease; 
}

.sidebar-expanded {
  margin-left: 250px;
}

.sidebar-collapsed { 
  margin-left: 8px;
}

/* bottom */

.logout{
  position: absolute;
  bottom: 0;
  display: flex;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 230px;
  padding: 10px;
}

.logout img{
  width: 28px;
}

.logout-expand{
  width: 230px;
}
.logout-collapse{
  width: 50px;
}


/* Responsive */


